* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #fafafa;
  color: #262626;
  font-family: "Segoe UI";
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 250px;
  height: 100%;
  padding: 40px 10px 30px 10px;
  background: #fff;
  border-right: 1px solid #dbdbdb;
  transition: 0.3s;
}
.container {
  width: 930px;
  margin: 0 auto;
}

.sidebar .container {
  width: 240px;
}

.sidebar-header {
  width: 100%;
  margin-bottom: 44px;
}

.logo-icon {
  display: none;
  font-size: 28px;
  height: 35px;
  width: 51px;
  text-align: center;
}

.logo-img {
  margin-left: 14px;
  height: 32px;
}

.sidebar button {
  height: 60px;
  background: transparent;
  border: 0;
  padding: 0;
  font-family: inherit;
  cursor: pointer;
}

.sidebar button > span {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 48px;
  padding: 0 12px;
  border-radius: 24px;
  line-height: 1;
}

.sidebar button > span:hover {
  color: red;
}
/* 
.sidebar button:hover > span{
    background: #f2f2f2;
    /* width: 200px; */
/* }  */

.sidebar button:hover > span :is(i, img) {
  scale: 1.05;
}

.sidebar button > span > span {
  transition: 0.3s;
}

.sidebar button i {
  position: relative;
  font-size: 28px;
  transition: 0.2s;
}

.sidebar button img {
  width: 28px;
  height: 28px;
  transition: 0.2s;
}

.sidebar button i > span {
  display: grid;
  place-items: center;
  height: 20px;
  padding: 0 4px;
  border-radius: 10px;
  position: absolute;
  top: -5px;
  right: -10px;
  border: 1px solid #fff;
  background: #ff2f40;
  color: #f9f9f9;
  font-size: 12px;
  font-family: "Segoe UI";
}

.sidebar button i > em {
  display: block;
  width: 10px;
  height: 10px;
  background: #ff2f40;
  position: absolute;
  border-radius: 10px;
  top: 2px;
  right: -1px;
  border: 1px solid #fff;
  color: #f9f9f9;
  font-size: 12px;
  font-family: "Segoe UI";
}

.sidebar button span {
  font-size: 17px;
}

.sidebar .container > .navbar {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sidebar > nav button:last-child {
  margin-top: auto;
}

@media (width < 500px) {
  .logo-img {
    display: none;
  }

  .logo-icon {
    display: block;
  }

  .sidebar {
    width: 72px;
  }

  .sidebar button > span {
    width: 50px;
  }

  .sidebar button > span > span {
    opacity: 0;
    visibility: hidden;
  }
}

.main {
  padding-left: 82px;
}

.main .container .images {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.main .container .images img {
  border: 2px solid red;
  border-radius: 50%;
}

.main .container .title {
}

/* reels */

.reels {
  width: 550px;
  margin: 0 auto;
  padding-bottom: 200px;
}

.reels .container .reel .user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border: 1px solid grey;
  width: 450px;
}

.reels .container .reel .user .dropbtn {
  width: 50px;
  height: 50px;
  margin: 0 0 0 250px;
  cursor: pointer;
  outline: none;
  background: none;
  border: none;
  position: relative;
  display: inline-block;
}
.reels .container .reel .user .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.reels .container .reel .user .dropdown-content a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.reels .container .reel .user .dropdown-content a:hover{
  background: #ddd;
}
.show {display:block;}

.reels .container .reel .photo img {
  width: 450px;
  height: 600px;
  object-fit: cover;
  /* padding-left: 515px; */
}
.reels .container .reel .user p {
  line-height: 7px;
  cursor: pointer;
}

.reels .container .reel .user .america {
  opacity: 0.7;
}

.reels .container .reel .photo .reaction img {
  width: 25px;
  height: 25px;
  margin: 0 3px 0 0;
  cursor: pointer;
}

.reels .container .reel .photo .reaction img:nth-child(4) {
  margin: 0 0 0 330px;
}
